schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="login">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="login" minOccurs="0"/>
        <xs:element ref="heslo" minOccurs="0"/>
        <xs:element ref="autorizace_pres_socialni_site" minOccurs="0"/>
        <xs:element ref="auto_save" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="heslo" type="xs:string"/>
  <xs:element name="autorizace_pres_socialni_site" type="xs:string"/>
  <xs:element name="auto_save">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="jas">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="value"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rozliseni" type="xs:string"/>
  <xs:element name="auto_jas">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="nocni_rezim">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ovladani_struktury">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="directx_verze" type="xs:byte"/>
  <xs:element name="grafika" type="xs:string"/>
  <xs:element name="stiny" type="xs:string"/>
  <xs:element name="struktura" type="xs:string"/>
  <xs:element name="efekty" type="xs:string"/>
  <xs:element name="hodiny" type="xs:byte"/>
  <xs:element name="minuty" type="xs:byte"/>
  <xs:element name="secundy" type="xs:byte"/>
  <xs:element name="automaticky_cas">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="den" type="xs:byte"/>
  <xs:element name="mesic" type="xs:byte"/>
  <xs:element name="rok" type="xs:short"/>
  <xs:element name="automaticky_datum">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="osa_x" type="xs:byte"/>
  <xs:element name="osa_y" type="xs:byte"/>
  <xs:element name="zrychleni" type="xs:byte"/>
  <xs:element name="pozice_mysi">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="vertical"/>
          <xs:attribute type="xs:string" name="horizontal"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tlacitko_1" type="xs:string"/>
  <xs:element name="tlacitko_2" type="xs:string"/>
  <xs:element name="tlacitko_3" type="xs:string"/>
  <xs:element name="tlacitko_4" type="xs:string"/>
  <xs:element name="prepnout_tichy_rezim" type="xs:string"/>
  <xs:element name="hotovo" type="xs:string"/>
  <xs:element name="ovladac" type="xs:string"/>
  <xs:element name="citlivost_mysi">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="osa_x"/>
        <xs:element ref="osa_y"/>
        <xs:element ref="zrychleni"/>
        <xs:element ref="pozice_mysi"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="klavesove_ovladani">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tlacitko_1"/>
        <xs:element ref="tlacitko_2"/>
        <xs:element ref="tlacitko_3"/>
        <xs:element ref="tlacitko_4"/>
        <xs:element ref="prepnout_tichy_rezim"/>
        <xs:element ref="hotovo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="hlasitost" type="xs:byte"/>
  <xs:element name="zvuk_z_laptopu">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="tichy_rezim">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="notifikacni_upozorneni">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="zvuk_z_reproduktoru">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="zvuk_v_sluchatkach">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="prostorovy_zvuk">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="version_of_app">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:float" name="version"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="console_in_app">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="console"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="number_of_users">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:byte" name="users"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="online">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:short" name="port"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lang">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="lang"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="subtitles">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="enabled"/>
          <xs:attribute type="xs:string" name="lang"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="zobrazeni">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jas"/>
        <xs:element ref="rozliseni"/>
        <xs:element ref="auto_jas"/>
        <xs:element ref="nocni_rezim"/>
        <xs:element ref="ovladani_struktury"/>
        <xs:element ref="directx_verze"/>
        <xs:element ref="grafika"/>
        <xs:element ref="stiny"/>
        <xs:element ref="struktura"/>
        <xs:element ref="efekty"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hodiny"/>
        <xs:element ref="minuty"/>
        <xs:element ref="secundy"/>
        <xs:element ref="automaticky_cas"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datum">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="den"/>
        <xs:element ref="mesic"/>
        <xs:element ref="rok"/>
        <xs:element ref="automaticky_datum"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ovladani">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ovladac"/>
        <xs:element ref="citlivost_mysi"/>
        <xs:element ref="klavesove_ovladani"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="zvuk">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="hlasitost"/>
        <xs:element ref="zvuk_z_laptopu"/>
        <xs:element ref="tichy_rezim"/>
        <xs:element ref="notifikacni_upozorneni"/>
        <xs:element ref="zvuk_z_reproduktoru"/>
        <xs:element ref="zvuk_v_sluchatkach"/>
        <xs:element ref="prostorovy_zvuk"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="nastaveni">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="version_of_app"/>
        <xs:element ref="console_in_app"/>
        <xs:element ref="number_of_users"/>
        <xs:element ref="online"/>
        <xs:element ref="lang"/>
        <xs:element ref="subtitles"/>
        <xs:element ref="login"/>
        <xs:element ref="zobrazeni"/>
        <xs:element ref="cas"/>
        <xs:element ref="datum"/>
        <xs:element ref="ovladani"/>
        <xs:element ref="zvuk"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>